//font medium
.font-weight-500 {
    font-weight: 500 !important; 
}

//text color
.text-500 {
    color: var(--surface-500) !important;
}

.text-900 {
    color: var(--surface-900) !important;
} 

.text-green-500 {
    color: var(--green-500) !important;
}

.text-blue-500 {
    color: var(--blue-500) !important;
}

.text-orange-500 {
    color: var(--orange-500) !important;
}

.text-cyan-500 {
    color: var(--cyan-500) !important;
}

.text-purple-500 {
    color: var(--purple-500) !important;
}

//text size
.text-xl {
    font-size: 1.25rem !important;
}

//background color
.bg-blue-100 {
    background-color: var(--blue-100) !important;
}

.bg-orange-100 {
    background-color: var(--orange-100) !important;
}

.bg-cyan-100 {
    background-color: var(--cyan-100) !important;
}

.bg-purple-100 {
    background-color: var(--purple-100) !important;
}

//border radius
.border-round {
    border-radius: var(--border-radius) !important;
}