.card {
    background: var(--surface-card) !important;
    border: 1px solid var(--surface-border) !important;
    padding: 2rem !important;
    margin-bottom: 2rem !important;
    box-shadow: var(--card-shadow) !important;
    border-radius: $borderRadius !important;
    // TODO last child property
}